/* Put your style information here! */
*{
    font-family: 'Montserrat', sans-serif;
}

.title{
    text-transform: uppercase;
    text-align: center;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 50px;
}

.col{

    display: flex;
    flex-direction: column;
    max-width: 45%;
    align-items: center;
}

.col img{
    max-width: 600px;
}

.versions{
    display: flex;
    flex-flow: row-wrap;
    justify-content: space-around;
}

.header{
    text-transform: uppercase;
    text-align: center;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
}

.hbod{
    max-width: 75%;
    padding-left: 70px;
    padding-bottom: 30px;
}


.dcbod{
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
    padding-bottom: 30px;

}


.info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
